/* Reset simple */
body{
    --black-color: #111;
    --w-color: #bfbfbf;
    --w2-color: #464646;
    --gray-color: #242424;
    --yellow-color: #d9b04f;
    background-color: var(--gray-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--w-color);
}