/* =========================
CONTENEDOR
========================= */
.help-grid{
  display:flex;
  flex-direction:column;
  gap:1rem;
}



@media (min-width:1024px){


/* layout sidebar */

.help-grid{
  display:flex;
  flex-direction: column;
  gap:2rem;
}
}