.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  background: #eee;
  border-radius: 6px;
}

.tab.active {
  background: #333;
  color: var(--white2-color);
}

.lista-pedidos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 5rem 0 5rem;
}

.pedido-card {
  padding: 10px;
  border-radius: 8px;
  background: var(--black2-color);
  margin-bottom: .5rem;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.pedido-acciones button {
  margin-right: 5px;
  cursor: pointer;
}




.btn-archivar{
  padding: .4rem;
  border: none;
  text-transform: uppercase;
  border-radius: .2rem;
  background: var(--yellow-color);
  color: var(--white2-color);
}