<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administrador</title>
  <link rel="stylesheet" href="/static/css/admin-styles/admin-index.css">
  <link rel="stylesheet" href="/static/css/admin-styles/layout.css">
  <link rel="stylesheet" href="/static/css/admin-styles/admin-config-g.css">
  <link rel="stylesheet" href="/static/css/admin-styles/archivados.css">

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
{% include "admin/components/header.html" %}

<main>
<div class="admin-pedidos">

  <!-- 🔘 Tabs -->
  <div class="tabs">
    <button id="tab-activos" class="tab active">📦 Activos</button>
    <button id="tab-archivados" class="tab">🗂 Archivados</button>
  </div>

  <!-- 📦 LISTA ACTIVOS -->
  <div id="lista-activos" class="lista-pedidos"></div>

  <!-- 🗂 LISTA ARCHIVADOS -->
  <div id="lista-archivados" class="lista-pedidos" style="display:none;"></div>

</div>
</main>
<div id="notifications-container">
</div>

<script src="/static/js/admin-js/general-admin.js"></script>
<script src="/static/js/admin-js/archivos.js"></script>