<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos de Turnos</title>
  <link rel="stylesheet" href="/static/css/admin-styles/layout2.css">
  <link rel="stylesheet" href="/static/css/admin-styles/admin-config-g.css">
  <link rel="stylesheet" href="/static/css/admin-styles/search-admin.css">
  <link rel="stylesheet" href="/static/css/admin-styles/datos-turnos.css">

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
{% include "admin/components/header.html" %}


<main class="admin-content">

{% include "admin/components/search.html" %}

  <div class="turn-subtitle">
    <h2>Turnos solicitados</h2>
  </div>

<div class="admin-table">
<table>
<thead>
<tr>
<th>Fecha</th>
<th>Hora</th>
<th>Nombre</th>
<th>DNI</th>
<th>Email</th>
<th>Whatsapp</th>
<th>Marca</th>
<th>Modelo</th>
<th>Reparación</th>
<th>Descripción</th>
</tr>
</thead>

<tbody id="tabla-turnos">
</tbody>
</table>
</div>

</main>
<script src="/static/js/admin-js/admin-turnos.js"></script>
<script src="/static/js/admin-js/search-admin.js"></script>
<script src="/static/js/admin-js/general-admin.js"></script>
</body>
</html>
