<!-- BOTÓN CHAT -->

<div class="chat-btn" id="chat-btn">
  <span class="material-symbols-outlined">chat_bubble</span>
</div>


<!-- CHAT -->

<div class="chat-box active" id="chat-box">

  <div class="chat-header">
    <span>Soporte</span>
    <button id="close-chat">✖</button>
  </div>

  <div class="chat-content">

    <div class="receptor">¡Hola! ¿En qué puedo ayudarte?</div>
    <div class="emisor">Tengo una consulta...</div>

    <div class="chat-content"></div>

    <div class="chat-options">
      <button class="chat-btn-option" data-opt="precios">Ver precios</button>
      <button class="chat-btn-option" data-opt="servicios">Servicios disponibles</button>
      <button class="chat-btn-option" data-opt="contacto">Información de contacto</button>
      <button class="chat-btn-option" data-opt="horarios">Horarios de atención</button>
    </div>

  </div>

</div>