<footer class="footer">
  <div class="footer-container">
    <div class="redes">
      <ul>
        <li class="redes-container">
          <a class="fa-brands fa-facebook" href="https://www.facebook.com/share/1CTrhKGqKd/?mibextid=wwXIfr"></a>
        </li>

        <li class="redes-container">
          <a class="fa-brands fa-instagram" href="https://www.instagram.com/abrserviciotecnico?igsh=ZmgwdDhzZGdnanJi&utm_source=qr"></a>
        </li>

        <li class="redes-container">
          <a class="fa-brands fa-tiktok" href="https://www.tiktok.com/@abrserviciotecnico?_t=ZM-8ztjn6rM5xE&_r=1"></a>
        </li>

        <li class="redes-container">
          <a class="fa-brands fa-whatsapp" href="#"></a>
        </li>

        <li class="redes-container">
          <a class="fa-brands fa-x-twitter" href="#"></a>
        </li>

      </ul>
    </div>
  </div>
</footer>