<header class="nav-header">

<button class="menu-toggle" id="menuToggle">
  <span class="material-symbols-outlined">menu</span>
</button>

  <h1 class="logo-title"><a href="/">ABR Servicio Técnico</a></h1>
<!-- BARRA DE OPCIONES -->
<section class="barra__menu">
  <nav class="barra-nav__menu" id="navMenu">
    <ul class="barra__menu-list">
      <li class="nav__barra-item">
        <a href="/">Inicio</a>
      </li>
      <li class="nav__barra-item">
        <a href="/productos">Tienda</a>
      </li>
      <li class="nav__barra-item">
        <a href="/faq">Preguntas frecuentes</a>
      </li>
      <li class="nav__barra-item">
        <a href="/turnos">Turnos</a>
      </li>
    </ul>
  </nav>
</section>

<div class="login__buttons">

  <div class="notification-wrapper">
  <button id="notificationBtn" class="notification-btn">
    <i class="fa-solid fa-bell "></i>
    <span id="notificationCount" class="notification-count">0</span>
  </button>

<div id="notificationPanel" class="notification-panel hidden">
  <div class="notification-header">
    <span>Notificaciones</span>
    <button id="clearNotifications">Limpiar</button>
  </div>
  <div id="notificationList" class="notification-list">
    <p style="padding:15px;color:#aaa;">Cargando...</p>
  </div>
</div>

  </div>
      <button class="nav__login"><a href="/login" class="material-symbols-outlined login">person</a></button>
    <button class="nav__login" id="cartbtn"><span class="material-symbols-outlined login">shopping_cart</span></button>
</div>

</header>

