<!DOCTYPE html>
<html lang="es">
<head>
  <base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Producto</title>
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/productos.css">
  <link rel="stylesheet" href="/static/css/detail.css">
  <link rel="stylesheet" href="/static/css/config-g.css">
  <link rel="stylesheet" href="/static/css/modals.css">

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<!-- HEADER -->
{% include "components/header.html" %}

<!-- MENÚ DE COMPRAS -->
{% include "components/cart.html" %}
<main>
  <!-- DETALLE -->
<section>
<div class="detalle-container">
  <div class="img-container">
    <img id="prod-imagen" class="detalle-img">
  </div>
  <div class="prod-info">

    <h2 id="prod-nombre"></h2>

        <button class="fav-btn" id="fav-btn" data-id="">
          <i class="fa-regular fa-heart"></i>
        </button>

    <div class="availability" id="availability-status"></div>
    <p id="prod-precio"></p>
    <p id="prod-descripcion"></p>

    <div class="detail-buttons">
      <button id="add-to-cart-detail"
      data-id=""
      data-name=""
      data-price="">Añadir al carrito</button>
      <button id="buy-now">Comprar ahora</button>
    </div>
  </div>
</div>
</section>


<div class="reviews-container">

  <div class="reviews-grid">

    <!-- IZQUIERDA: LISTA -->
    <div class="reviews-list">
      <h3>Opiniones</h3>
      <div id="lista-resenas"></div>
    </div>

    <!-- DERECHA: FORMULARIO -->
    <div class="reviews-box">
      <h3>Dejar una reseña</h3>

      <div class="rating-input">
        <span data-value="1">★</span>
        <span data-value="2">★</span>
        <span data-value="3">★</span>
        <span data-value="4">★</span>
        <span data-value="5">★</span>
      </div>

      <textarea id="comentario"
        placeholder="Escribí tu comentario..."
        required></textarea>

      <button onclick="enviarResena()">Enviar reseña</button>
    </div>

  </div>

</div>

{% include "components/modals.html" %}
<!-- CHAT BOT -->
{% include "components/chat.html" %}

</main>
<!-- FOOTER -->
{% include "components/footer.html" %}

{% include "components/modals.html" %}

<div id="button-checkout"></div>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="/static/js/mercadopago.js"></script>
<script src="/static/js/checkout.js"></script>
<script src="/static/js/cart-modal.js"></script>
<script src="/static/js/detail.js"></script>
<script src="/static/js/productos.js"></script>
<script src="/static/js/chat-support.js"></script>
<script src="/static/js/availability.js"></script>
<script src="/static/js/reviews.js"></script>
<script src="/static/js/fav.js"></script>
<script src="/static/js/fav-preview.js"></script>
<script src="static/js/notification.js"></script>
</body>
</html>
