<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mis favoritos</title>
    <link rel="stylesheet" href="/static/css/config-g.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/modals.css">
    <link rel="stylesheet" href="/static/css/fav.css">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Saira:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
{% include "components/header.html" %}

<!-- MENÚ DE COMPRAS -->
{% include "components/cart.html" %}

<main>
<h2>❤️ Mis productos favoritos</h2>

<div id="favoritos-grid" class="productos-grid"></div>

<!-- CHAT BOT -->
{% include "components/chat.html" %}

</main>
<!-- FOOTER -->
{% include "components/footer.html" %}

<!-- Modal de confirmación de compra -->
<div id="successModal" class="modal">
  <div class="modal-content">
    <h2>✅ Compra realizada con éxito</h2>
      <p>Tu pedido ha sido registrado correctamente.</p>
    <button id="download-btn" class="confirm-btn">⬇️ Descargar boleta en PDF</button>
  </div>
</div>
<script src="/static/js/fav.js"></script>
</body>
</html>