/* =========================
RESET
========================= */
/* layout base */

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}


main{
  flex: 1;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

img{
  width:100%;
  height:auto;
  display:block;
}

/* =========================
BANNER
========================= */

.faq-banner-container{
  position: relative;
}

/* TEXTO ENCIMA */

.texto-banner{
  position: absolute;
  top: 30%;
  left: 28%;
  transform: translate(-50%, -50%);

  width: 55%;
  text-align: center;
  color: white;
}

.texto-banner h3{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}

/* salto solo mobile */
.mobile-break{
  display: block;
}

/* =========================
FAQ
========================= */

.faq{
  padding: 1.5rem 1rem;
}

.faq h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

/* lista mobile */

.faq-grid{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* item */

.faq-item{
  border-radius: 10px;
  overflow: hidden;
}

/* pregunta */

.faq-question{
  width: 100%;
  padding: 12px;

  background: var(--blue2-color);
  color: white;

  border: none;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: .9rem;
  cursor: pointer;
}

/* respuesta */

.faq-answer{
  background: white;
  max-height: 0;
  overflow: hidden;

  transition: max-height .3s ease;
  padding: 0 12px;
}

.faq-answer p{
  margin: 12px 0;
}

/* activo */

.faq-question.active{
  background: var(--blue-color);
}

.faq-question .icon{
  transition: transform .3s;
}

.faq-question.active .icon{
  transform: rotate(180deg);
}


@media (min-width: 1024px){

  /* texto banner */

  .texto-banner{
  position: absolute;
  top: 40%;
}

  .texto-banner h3{
    font-size: 2rem;
  }

  /* quitar salto */

  .mobile-break{
    display: none;
  }

  /* FAQ grid */

  .faq-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 2rem;
  }

  .faq-item{
    width: 100%;
  }

}

@media (min-width: 1024px){

  .texto-banner{
    width: 50%;
  }

  .texto-banner h3{
    font-size: 2.3rem;
  }

  .faq{
    padding: 3rem;
  }

  .faq-grid{
    grid-template-columns: repeat(3, 1fr);
  }

}