/* =========================
   MAIN
========================= */

main{
  padding: 1rem;
}

/* título */

main h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}


/* =========================
   GRID FAVORITOS
========================= */

.productos-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


/* =========================
   CARD PRODUCTO
========================= */

.producto-card{
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  padding: 1rem;
}

/* imagen */

.producto-card img{
  width: 100%;
  height: 20rem;
  object-fit: contain;
  padding: .7rem;
}

/* info */

.producto-card .info{
  padding: .6rem;
}

.producto-card h3{
  font-size: .95rem;
}

.producto-card .marca{
  font-size: .8rem;
  color: #777;
}

.producto-card .price{
  font-weight: bold;
  color: #e74c3c;
}


/* botón favorito */

.remove-fav{
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: white;
  border-radius: 50%;
  padding: .3rem;
  cursor: pointer;
}

/*------- DESKTOP QUERIES -----------*/

@media (min-width:1024px){

main{
  max-width: 1200px;
  margin: auto;
}

.productos-grid{
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.product-card img{
  height: 160px;
}

.product-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

}