/* =========================
MAIN
========================= */

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}


main{
  flex: 1;
  margin: 0 auto;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.barra__menu, .menu-toggle, .login__buttons {
    display: none;
}



/* =========================
CONTENEDOR
========================= */

.auth-container{
width:100%;
max-width:380px;
padding:25px;
border-radius:12px;
box-shadow:0 6px 20px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
gap:15px;
margin: 2rem;
}


/* =========================
TABS
========================= */

.tabs{
display:flex;
border-bottom:2px solid #eee;
}

.tab{
flex:1;
text-align:center;
padding:10px;
cursor:pointer;
font-weight:500;
color: var(--white-color);
}

.tab.active{
color:var(--blue-color);
border-bottom:2px solid var(--blue-color);
}


/* =========================
FORMULARIOS
========================= */

form{
display:none;
flex-direction:column;
gap:12px;
}

form.active{
display:flex;
}


/* inputs */

form input{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
width:100%;
background: var(--white-color);
}
form input::placeholder{
color: var(--black-color);
}


/* botón */

form button{
padding:10px;
border:none;
border-radius:6px;
background:var(--blue-color);
color:white;
font-size:15px;
cursor:pointer;
}


/* =========================
VOLVER
========================= */

.back-home{
text-align:center;
font-size:14px;
color:#666;
text-decoration:none;
margin-top:5px;
}




/*------------ DESKTOP QUERIES -----------*/
@media (min-width:1024px){

.main-auth{
padding:60px 20px;
}

.auth-container{
max-width:450px;
padding:35px;
gap:18px;
}


/* inputs más cómodos */

form input{
padding:12px;
font-size:15px;
}

form button{
padding:12px;
font-size:16px;
}

.tabs{
font-size:16px;
}

}