/* Modal base */
.modal {
    display: none; /* oculto por defecto */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6); /* fondo oscuro */
}

/* Caja del modal */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    background: var(--white-color);
    margin: 5% auto;
    padding: 20px;
    border-radius: 13px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;
}
#order-summary{
    background: var(--white-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
    list-style-type: none;
    overflow: auto;
    max-height: 200px;
}

#order-summary li::before{
    content: "- ";
}

/* Botón cerrar */
.close-modal {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover {
  color: red;
}

input, textarea{
  margin-bottom: 3px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--black-color);
}

.btn-confirmar{
  background: var(--green-color);
  color: var(--white-color);
  border: none;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-confirmar:hover {
  background: var(--black-color);
}

.oculto{
  display: none;
}



@media (min-width: 1024px) {

  /* Caja más grande y cómoda */
  .modal-content {
    width: 100%;
    max-width: 650px;

    padding: 30px;
    gap: 16px;

    margin: 0; /* elimina el margin mobile */
  }

  /* Lista más alta */
  #order-summary {
    max-height: 300px;
    padding: 15px;
  }

  /* Inputs en grid (clave en desktop) */
  .form-envio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* Inputs que ocupan toda la fila */
  #env-email,
  #env-calle,
  #env-notas {
    grid-column: span 2;
  }

  textarea {
    min-height: 100px;
  }

  /* Método de entrega en fila */
  .metodos-entrega {
    display: flex;
    gap: 20px;
  }

  /* Botón más elegante */
  .btn-confirmar {
    width: fit-content;
    align-self: flex-end;
    padding: 12px 30px;
  }

  /* Inputs más cómodos */
  input, textarea {
    padding: 8px;
  }
}

.oculto{
  display: none;
}

.successModal{
  display: none;
}